# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar todo el contenido externo al repositorio
../../../../
../../
../EstrellaRodriguez/
../
../Avanza pro - app para presupuestos/
../Best-Saas-Kit--V2/
../CasaRodriguezSaS/
../Citadel/
../FacturaPro2.0/
../Hanucap/
../IQ-bot/
../Instabot/
../JJ-Auto-Import/
../Marcketeeen/
../Monetizao/
../Venom/
../banreservas/
../stylego-app/
../

# Archivos de sistema y configuración externa
../../../.cache/
../../../.claude.json
../../../.claude.json.backup
../../../.claude/
../../../.config/
../../../.cursor/
../../../.docker/
../../../.expo/
../../../.gemini/
../../../.gitconfig
../../../.gitignore
../../../.local/
../../../.openjfx/
../../../.rustup/
../../../.ssh/
../../../.vscode/
../../../AppData/
../../../Contacts/
../../../Desktop/
../../../Documents/
../../../Downloads/
../../../Favorites/
../../../Links/
../../../Music/
../../../NTUSER.DAT*
../../../OneDrive/
../../../Pictures/
../../../Saved Games/
../../../Searches/
../../../Videos/
../../../*.png
../../../*.jpg
../../../*.jpeg
../../../*.psd
../../../*.lnk
../../../.cursor/
